{% extends "base.html" %}


{% block content %}


<div class="form-page">


    <div class="form-card login-card">


        <div class="form-header">


            <div class="medical-logo">
                ♥
            </div>


            <h2>
                Welcome Back
            </h2>


            <p>
                Login to your healthcare dashboard.
            </p>


        </div>


        <form method="POST">


            <div class="input-group">

                <label>
                    Email
                </label>

                <input
                    name="email"
                    type="email"
                    required
                >

            </div>


            <div class="input-group">

                <label>
                    Password
                </label>

                <input
                    name="password"
                    type="password"
                    required
                >

            </div>


            <button
                type="submit"
                class="primary-button full-width"
            >

                Login →

            </button>


        </form>


        <p class="form-footer">

            New patient?

            <a
                href="{{ url_for(
                    'patient_register'
                ) }}"
            >
                Create account
            </a>

        </p>


        <div class="admin-link">

            <a
                href="{{ url_for(
                    'admin_login'
                ) }}"
            >

                Administrator Login

            </a>

        </div>


    </div>


</div>


{% endblock %}